<p>signup works!</p>
<form class="example-form" [formGroup]="signupForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
    />
    <mat-error
      *ngIf="signupForm.hasError('email') && !signupForm.hasError('required')"
    >
      Please enter a valid email address
    </mat-error>
    <mat-error
      *ngIf="
        signupForm.controls['email'].invalid &&
        signupForm.controls['email'].touched
      "
    >
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>State</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option *ngFor="let state of states" [value]="state">{{
        state
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <h4>native html select</h4>
  <mat-form-field appearance="fill">
    <mat-label>Select your car</mat-label>
    <select matNativeControl id="mySelectId">
      <option value="" disabled selected></option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>
</form>
