
<section id="signup " class="d-flex align-items-center justify-content-center h-100 container col-md-6">
<form    [formGroup]="userForm" (ngSubmit)="onSubmit()"  class="form-container  p-5 ">
  <div class="mb-3 form-group">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label> Enter your Name</mat-label>
      <input matInput placeholder=""  formControlName="name">
      <mat-error *ngIf="name?.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
        <div class="mb-3 form-group">
          <mat-form-field  class="full-width" appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="email?.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3 form-group">
          <mat-form-field class="full-width" appearance="fill" w-100>
            <mat-label>Enter your Password</mat-label>
            <input matInput  formControlName="password" required type="password">
            <mat-error *ngIf="password?.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3 form-group">
          <mat-form-field  class="full-width" appearance="fill" w-100>
            <mat-label>Enter confirm Password</mat-label>
            <input matInput  formControlName="confirmPassword" required type="password">
            <mat-error *ngIf="confirmPassword?.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      <div class="mb-3 form-group">
           <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nationality</mat-label>
          <mat-select placeholder="nationality" formControlName="nationality" [(value)]="defaultCountry"  >
         <mat-option *ngFor="let nationality of nationalities"  [value]="nationality.countryName"  >{{ nationality.countryName }}</mat-option> 
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-button color="primary" >Signup</button>
      <!-- [disabled]="!userForm.valid" -->
</form>
</section>
